$theme-colors: (
	"primary" : #000,
	"jumbobg": black
	);

@import "../node_modules/bootstrap/scss/bootstrap";




.wrapper{
  background-image: url("./../images/justinbg.png");
  // background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: relative;
  // background-color: black;
}
#black{
	background-color: black;
}
.btns{
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
}
.btnz{
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  width: 70%;
}
#no-under{
  text-decoration: none;
} 
.black2{
  border-color: #000;
  color: black;
  // border: 2px;
}
.black2:hover{
  color: white;
  background-color: black;
}

.navblack{
	// background: none;
	z-index: 20;
  	transition: 0.35s all ease;
}
.navblack ul{
  	padding: 1rem 2rem;
}
#text-black{
	color: black;
}

.skills{
	border-bottom: 2px solid black;
	margin: 2px;
}
.logimg{
	margin-top: 25px;
	height: 80px;
	width: 80px;
}
.logimg2{
	margin-top: 25px;
	height: 80px;
	width: 80px;
}
.logimgs{
	margin-top: 15px;
	height: 110px;
	width: 180px;
}
.logimg3{
	height: 80px;
	width: 160px;
	margin-bottom: 15px;
}

#tet {
	position: relative;
}

#test {
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -10;
}
#abouts{
	background-color: #f5f5f5;
  overflow: hidden;
}
.landing{
	position: relative;
}
#text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 15px;
  border-radius: 5px;
}
#landings{
	text-align: center;
	position: absolute;
	top: 58.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
}
.landing-text{
	font-family: 'Playfair Display', serif;
	font-weight: bolder;
	margin-bottom: -15px;
	font-size: 4.2rem;
}
.landing-textz{
	font-family: 'Playfair Display', serif;
	font-weight: bolder;
	margin-bottom: -15px;
	font-size: 4.2rem;
}
.under-text{
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
  font-size: 16px;
}
.body-text{
  font-family: 'Montserrat', sans-serif;
  // margin-top: 40px;
}
.body-text2{
  font-family: 'Montserrat', sans-serif;
  // margin-top: 40px;
}
.land-img{
	height: 50px;
	width: 50px;
}
.social-links{
	width: 30px;
	height: 30px;
	/*border: 1px solid black;*/
	margin-right: 10px;
	margin-bottom: 5px;

}
.cont-icon{
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.img-responsive{
	// margin-top: 2px;
	height: auto;
	width: 100%;
	// filter: hue-rotate(250deg);
}
.img-about{
  height: 100%;
  width: 75%;
  border-radius: 50%;
  filter: grayscale(100%);
}
.pabout{
  padding: 3rem;
}
.pabout2{
  padding: 3rem;
  margin-top: 30px;
}
#works{
	background-color: #f5f5f5;
}
html{
	scroll-behavior: smooth;
}
.my-work{
	height: 350px;
	width: 550px;
}

.scrolled {
  background-color: black;
  transition: 0.35s all ease;
}
.scrolled ul {
  transition: 0.35s all ease;
}
.scrolled li a{
  color: white;
  transition: 0.2s all ease-in-out;
}
.scrolled a{
  color: white;
  transition: 0.2s all ease-in-out;
}

.nav {
 width: 100%;
 height: 65px;
 position: fixed;
 line-height: 65px;
 text-align: center;
 z-index: 999;
}
.logo-img{
  width: 50px;
  height: 40px;
}

.nav div.logo {
 float: left;
 width: auto;
 height: auto;
 padding-left: 100px;
}


.nav div.logo a {
 text-decoration: none;
 color: #fff;
 font-size: 2.5rem;
 font-family: 'EB Garamond' ;
 // z-index: 9999;
 // text-transform: uppercase;

 // font-family: 'Arimo' ;

}

.nav div.logo a:hover {
 color: grey;
}

.nav div.main_list {
 height: 65px;
 float: right;
}

.nav div .main_list ul {
 width: 100%;
 height: 65px;
 display: flex;
 list-style: none;
 margin: 0;
 padding: 0;

}

.nav div #mainListDiv ul {
margin-left: 1000px;
}

.nav div.main_list ul li {
 // width: auto;
 height: 65px;
 padding: 0;
 padding-right: 1.5rem;
}

.nav div.main_list ul li a {
 text-decoration: none;
 color: #fff;
 line-height: 65px;
 font-size: 1.5rem;
 position: relative;
 // font-weight: bolder;

 // font-family: 'Arimo' ; //4
 font-family: 'Karla' ; //pwede
 // font-family: 'Crete Round' ; //pwede2 ;
 // font-family: 'Tinos' ; //pwede3
 // padding-top: 100px;
}
.nav div.main_list ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -8px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav div.main_list ul .line a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -8px;
  content: "";
  display: block;
  height: 2px;
  // left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
  left: 0px;
}
.nav div.main_list ul .line a{
  color: #fff952;
}

.nav div.main_list ul li a:hover:after {
 width: 100%; 
  left: 0; 
}
.nav div.main_list ul li a:hover {
   color: #fff952;
}

#mainListDiv {
  margin-left: 20px;
  margin-top: -73px;
}
.navTrigger {
 display: none;
}

.nav {
 padding-top: 20px;
 padding-bottom: 20px;
 -webkit-transition: all 0.4s ease;
 transition: all 0.4s ease;
}

.contain{
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}
.flip-card:hover .contain {
  transform: rotateY(180deg);
}
.flip-card {
  width: 500px;
  height: 200px;
}
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.underline{
  background-color: black;
  height: 5px;
  width: 10%;
}
.underline2{
  background-color: black;
  height: 5px;
  width: 12%;
}
.underline3{
  background-color: black;
  height: 5px;
  width: 12%;
}
.projimg{
  width: 100%;
  height: 210px;
  display: block;
  position: relative;
}
.overcon{
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.overcon:hover .overlay {
  height: 100%;
}
.porttext {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.porttextz {
  color: black;
  font-size: 16px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.bottext {
  color: black;
  font-size: 18px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.marg{
  margin-right: 4px;
}
#haha{
  height: 500px;
}
#sizez{
  font-size: 50px;
}
.logo-margin{
  margin-left: 370px;
}
.portlogo{
  width: 400px;
  height: 200px;
}
.back-to-top{
  position: fixed;
  z-index: 11;
  bottom: 30px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  color: black;
  cursor: pointer;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -webkit-transition: all 0.4s ease;
}
#a-top{
  color: red;
}
.top-icon{
  // color: white;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
}
.contact{
  height: 89px;
}
.carou{
  padding: 16px;
}
.carou-pic{
  height: 450px;
}
.nav div #mainListDiv .ul-container #gagana {
  // padding-left: 520px;
  margin-left: 20px;
}
#flip-cv{
  background-color: white;
  color: black;
  display: block;
  margin-top: 46px;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  font-size: 20px;
}
#contacts{
  overflow: hidden;
}
#download{
  text-decoration: none;
  margin-top: 50px;
}
.trans{
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}




// ================================================================
@media screen and (min-width: 768px) and (max-width: 1024px) {
 .container {
   margin: 0;
 }

 .affix {
   padding-top: 20px !important;
   background-color: transparent;
 }


}
.navTrigger {
 cursor: pointer;
 width: 30px;
 height: 25px;
 margin: auto;
 position: absolute;
 right: 30px;
 top: 0;
 bottom: 0;
}

.navTrigger i {
 background-color: #fff;
 border-radius: 2px;
 content: "";
 display: block;
 width: 100%;
 height: 4px;
}

.navTrigger i:nth-child(1) {
 -webkit-animation: outT 0.8s backwards;
 animation: outT 0.8s backwards;
 -webkit-animation-direction: reverse;
 animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
 margin: 5px 0;
 -webkit-animation: outM 0.8s backwards;
 animation: outM 0.8s backwards;
 -webkit-animation-direction: reverse;
 animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
 -webkit-animation: outBtm 0.8s backwards;
 animation: outBtm 0.8s backwards;
 -webkit-animation-direction: reverse;
 animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
 -webkit-animation: inT 0.8s forwards;
 animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
 -webkit-animation: inM 0.8s forwards;
 animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
 -webkit-animation: inBtm 0.8s forwards;
 animation: inBtm 0.8s forwards;
}

.section-2 {
 background-color: grey;
}
.affix {
 padding: 0;
 background-color: #111;
}
@-webkit-keyframes inM {
 50% {
   -webkit-transform: rotate(0deg);
 }
 100% {
   -webkit-transform: rotate(45deg);
 }
}
@keyframes inM {
 50% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(45deg);
 }
}
@-webkit-keyframes outM {
 50% {
   -webkit-transform: rotate(0deg);
 }
 100% {
   -webkit-transform: rotate(45deg);
 }
}
@keyframes outM {
 50% {
   transform: rotate(0deg);
 }
 100% {
   transform: rotate(45deg);
 }
}
@-webkit-keyframes inT {
 0% {
   -webkit-transform: translateY(0px) rotate(0deg);
 }
 50% {
   -webkit-transform: translateY(9px) rotate(0deg);
 }
 100% {
   -webkit-transform: translateY(9px) rotate(135deg);
 }
}
@keyframes inT {
 0% {
   transform: translateY(0px) rotate(0deg);
 }
 50% {
   transform: translateY(9px) rotate(0deg);
 }
 100% {
   transform: translateY(9px) rotate(135deg);
 }
}
@-webkit-keyframes outT {
 0% {
   -webkit-transform: translateY(0px) rotate(0deg);
 }
 50% {
   -webkit-transform: translateY(9px) rotate(0deg);
 }
 100% {
   -webkit-transform: translateY(9px) rotate(135deg);
 }
}
@keyframes outT {
 0% {
   transform: translateY(0px) rotate(0deg);
 }
 50% {
   transform: translateY(9px) rotate(0deg);
 }
 100% {
   transform: translateY(9px) rotate(135deg);
 }
}
@-webkit-keyframes inBtm {
 0% {
   -webkit-transform: translateY(0px) rotate(0deg);
 }
 50% {
   -webkit-transform: translateY(-9px) rotate(0deg);
 }
 100% {
   -webkit-transform: translateY(-9px) rotate(135deg);
 }
}
@keyframes inBtm {
 0% {
   transform: translateY(0px) rotate(0deg);
 }
 50% {
   transform: translateY(-9px) rotate(0deg);
 }
 100% {
   transform: translateY(-9px) rotate(135deg);
 }
}
@-webkit-keyframes outBtm {
 0% {
   -webkit-transform: translateY(0px) rotate(0deg);
 }
 50% {
   -webkit-transform: translateY(-9px) rotate(0deg);
 }
 100% {
   -webkit-transform: translateY(-9px) rotate(135deg);
 }
}
@keyframes outBtm {
 0% {
   transform: translateY(0px) rotate(0deg);
 }
 50% {
   transform: translateY(-9px) rotate(0deg);
 }
 100% {
   transform: translateY(-9px) rotate(135deg);
 }
}
@media only screen and (max-width : 1024px) {

 .navlinks {
   margin-top: -60px;
 }

}

.border-project {
 border-width: 10px!important;
 border-bottom-width: 10px!important;
 border-bottom-width: thick!important;
 border-bottom-style: solid;
 width: 100px;
 margin-left: 500px;
}

@media screen and (max-width: 768px) {
 .navTrigger {
   display: block;
 }

 .border-project {
   margin-left: 35%!important;
 }

 .nav div.logo {
   margin-left: -175px !important;
   margin-top: -23px;
   padding-left: 200px;
   // font-size: 15px;
 }
  .nav div.logo a{
   font-size: 25px;
 }

 .nav div.main_list {
   width: 100%;
   height: 0;
   overflow: hidden;
 }

 .nav div.show_list {
   height: auto;
   display: none;
 }

 .nav div.main_list ul {
   flex-direction: column;
   width: 100%;
   height: 50%;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: black;
   /*same background color of navbar*/
   background-position: center top;
 }

 .nav div #mainListDiv .ul-container #gagana {
   margin-left: auto;
 }

 .nav div.main_list ul li {
   width: 100%;
   text-align: center;
 }

 .nav div.main_list ul li a {
   text-align: center;
   width: 100%;
   padding: 20px;
   margin-left: 32px;

   // margin-right: 63px;
 }

 .nav div.main_list ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav div.main_list ul .line a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 5px;
  content: "";
  display: block;
  height: 2px;
  // left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
  left: 0px;
}

 .nav div.media_button {
   display: block;
 }

 .affix {
   padding-top: 20px !important;
   background-color: black;
 }
 #affixz {	
   display: none;
 }

 .try {
   text-align: center;
   top: 50vh;
   left: 0 !important;
   right: 0;
 }

 #mainListDiv {
  margin-top: 0!important;
 }
}

@media all and (max-width: 700px) {
 .myP {
   padding: 2%;
 }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

  .affix {
   padding-top: 20px !important;
   background-color: black;
 }
  .nav {
   padding-top: 0px;
   padding-bottom: 65px;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
  }
  .landing-textz{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-bottom: -15px;
    margin-top: -40px;
  }

}

@media only screen and (max-width : 481px) { 
	.landing-text{
		font-family: 'Playfair Display', serif;
		font-weight: bolder;
		margin-bottom: -15px;
		font-size: 3rem;
	}
	.landing-textz{
		font-family: 'Playfair Display', serif;
		font-weight: bolder;
		margin-bottom: -15px;
		font-size: 3rem;
		margin-top: -5px;
	}
	.my-work{
		height: auto;
		width: 100%;
	}
  // .underline{
  //   background-color: black;
  //   height: 6px;
  //   width: 48%;
  // }
  // .underline2{
  //   background-color: black;
  //   height: 6px;
  //   width: 60%;
  // }
  // .underline3{
  //   background-color: black;
  //   height: 6px;
  //   width: 50%;
  // }
  .img-about{
    height: 100%;
    width: 90%;
    border-radius: 50%;
    filter: grayscale(100%);
}
  .pabout{
    padding: 1.5rem;
    margin-top: 25px;
}
  .pabout2{
    padding: 0px 20px;
    // margin-bottom: 10px;
}
  .flip-card {
    width: 500px;
    height: 200px;
    padding: .5rem;
}
  .logo-margin{
    margin-left: 0px;
}

  .logimg{
  margin-top: 25px;
  height: 50px;
  width: 50px;
}
  .logimg2{
    margin-top: 25px;
    height: 50px;
    width: 50px;
}
  .logimgs{
    margin-top: 15px;
    height: 80px;
    width: 150px;
}
  .logimg3{
    height: 50px;
    width: 130px;
    margin-bottom: 15px;
}
  .portlogo{
    width: 270px;
    height: 150px;
    margin-top: 20px;
}

  .back-to-top{
    position: fixed;
    z-index: 11;
    bottom: 30px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
  #a-top{
    color: red;
}
  .top-icon{
    // color: white;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}
  .body-text2{
    font-family: 'Montserrat', sans-serif;
  // margin-top: 40px;
    font-size: 12px;
}
 .carou{
    padding: 9px;
}
 .carou-pic{
    height: 220px;
}
.underline{
  background-color: black;
  height: 6px;
  width: 31%;
}
.underline2{
  background-color: black;
  height: 6px;
  width: 43%;
}
.underline3{
  background-color: black;
  height: 6px;
  width: 33%;
}
.res-h1{
  font-size: 35px;
}

.porttextz {
  color: black;
  font-size: 12px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
	// .nav {
	// 	width: 100%;
	// 	height: 65px;
	// 	position: fixed;
	// 	background-color: black;
	// 	line-height: 65px;
	// 	text-align: center;
	// 	z-index: 1;
	// }
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

/* STYLES GO HERE */
  
  .landing-text{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-bottom: -15px;
    font-size: 3rem;
  }
  .landing-textz{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-bottom: -15px;
    font-size: 3rem;
    margin-top: -5px;
  }
  .underline{
    background-color: black;
    height: 6px;
    width: 31%;
  }
  .underline2{
    background-color: black;
    height: 6px;
    width: 43%;
  }
  .underline3{
    background-color: black;
    height: 6px;
    width: 33%;
  }
  .res-h1{
    font-size: 35px;
  }

}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) { 

/* STYLES GO HERE */
  
  .landing-text{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-bottom: -15px;
    font-size: 3rem;
  }
  .landing-textz{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    margin-bottom: -15px;
    font-size: 3rem;
    margin-top: -30px;
  }
  .underline{
    background-color: black;
    height: 6px;
    width: 31%;
  }
  .underline2{
    background-color: black;
    height: 6px;
    width: 43%;
  }
  .underline3{
    background-color: black;
    height: 6px;
    width: 33%;
  }
  .res-h1{
    font-size: 35px;
  }

}